<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacialMoodBoard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7220B30F1973E022014EDE34701B488C188EF7F7</string>
				<key>dateExpires</key>
				<string>10/29/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3F2SU69WAB.Walkie.Talkie.c6</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3F2SU69WAB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SpacialMoodBoard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1e870f52-d32f-488f-b01d-de1d46593652</string>
				<key>dateExpires</key>
				<string>10/29/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Walkie.Talkie.c6</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3F2SU69WAB</string>
				<key>name</key>
				<string>bongjoon cha</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
