<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleFull</string>
				</dict>
			</array>
		</dict>
	</dict>

	<!-- Files 앱에서 앱 파일 공유 허용 -->
	<key>UISupportsDocumentBrowser</key>
	<true/>

	<!-- Documents 폴더 공유 활성화 -->
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>

	<!-- 파일 공유 허용 (iTunes/Files 앱) -->
	<key>UIFileSharingEnabled</key>
	<true/>

</dict>
</plist>
